@charset "UTF-8";

*{
	margin:0;
	padding:0;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	background-color:#cecfcd;
}

a {
	font-size: 20px;
	color: #0066FF;	
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #0066FF;
}

a:hover {
	text-decoration: none;
	color: #990099; 
}

a:active {
	text-decoration: none;
	color: #0066FF;
}

td {
	vertical-align: top;
	height:50px;
	text-align: left;
	font-size: 20px;
}

#divhead {
	width: 1002px;
	height:160px;
	background: url(../images/logo.png) no-repeat 0% 0;
	margin:0 auto;
}

.title{
	width:400px;
	font-size:55px;
	color:white;
	line-height:130px;
	margin-left:50px;	
}

#divcontent {
	width: 1002px;
	height:700px;
	background-color: #fff;
	margin: 0 auto;
}

#divcontent table{
	margin: 0 auto;
	padding-top:50px;
}



input{
	height:30px;
}

#divfoot{
	width: 1002px;
	background-color: #95caff;
	margin: 0 auto;
}

#divpagecontent {
	width: 1002px;
	height:700px;
	background-color: #fff;
	margin: 0 auto;
}
.listtitle {
	padding: 5px 0px 5px 5px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-size: 24px;
	font-weight: bold;
	color: #1C3F09;
}

.listtd {
	padding: 5px 0px 5px 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	line-height:50px;
}

.listcontent {
	background-color: #FCFDEF;
	border: 1px solid #CCCCCC;
	margin-left: 5px;
	width: 99%;
}
.upline{
	border:2px solid black;
	margin-top:60px;
	margin-left:40px;
	padding:10px;
	font-size:20px;
}
#divmenu_search{
	width: 1002px;
	height:40px;
	background-color: #0080ff;
	margin:0 auto;
}
#divmenu {	
	text-align: center;
	padding: 10px 0px 10px 0px;
	font-size: 14px;
	float:left;
}

#divmenu a {
	font-size: 14px;
	color: #FFFFFF; /*#1E33F7*/
	font-weight: bold;
	padding: 5px;
}

#divmenu a:link {
	text-decoration: none;
	font-weight: bold;
}

#divmenu a:visited {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

#divmenu a:hover {
	text-decoration: none;
	color: #999999; /*颜色变换*/
	font-weight: bold;
}

#divmenu a:active {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

#divsearch {	
	width:257px;
	height:40px;
	line-height:40px;
	text-align: center;
	font-size:14px;
	color: #FFFFFF;
	font-weight: bold;
	float:left;
	padding-left:20px;
	padding-top:5px;
}

.carttable {
	border: 1px solid #CCCCCC;
	width: 100%;
	background-color: #E1FFE1;
}

.listcontent td {
	padding: 20px;
}

.infocontent {
	background-color: #FCFDEF;
	border: 1px solid #CCCCCC;
	margin-left: 5px;
	width: 99%;
}

.infocontent td {
	padding: 5px;
}

.booklist {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.booklist td {
	/* text-align: center; */
	width: 25%;
	margin: 0px;
	padding:10px 0 10px 40px;
}

.divbookpic {
	width: 131px;
	height: 145px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	margin-bottom: 8px;
	overflow: hidden;
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

.divbookpic img {
	position: static;
	position: relative;
	top: 5%;
}

.divlisttitle {
	line-height: 120%;
	text-align:left;
}

/*分页*/
.pagination {
	padding: 5px;
	width: 790px;
	margin: 5px auto;
	text-align: center;
}

.pagination ul {
	width:270px;
	margin: 5px auto;
	padding: 5px;
	font-size: 12px;
}

.pagination li {
	list-style-type: none;
	float:left;
	padding: 1px;
	margin: 1px;
}

.pagination a,.pagination a:visited {
	padding:5px;
	border: 1px solid #9aafe5;
	text-decoration: none;
	color: #2e6ab1;
}



.pagination li.currentpage {
	font-weight: bold;
	padding: 5px;
	border: 1px solid navy;
	background-color: #2e6ab1;
	color: #FFF;
}
.disablepage_a{
	display:block; 
	width:75px; 
	height:15px;
	}
.disablepage_a:link,.disablepage_a:visited{!important; padding:0; border:0;}
.disablepage_a:hover{!important; padding:0; border:0; background:none; }
.pagination li.disablepage_p {
	width: 75px;
	height: 15px;
	padding: 5px;
	color: #929292;
	background:url(../images/previous_page.png) no-repeat center center;
}

.pagination li.disablepage_p2 {
	width: 75px;
	height: 15px;
	padding: 5px;
	color: #929292;
	background:url(../images/previous_page2.png) no-repeat center center;
}

.pagination li.disablepage_n{	
	width: 75px;
	height: 15px;
	padding: 5px;
	color: #929292;
	background:url(../images/next_page.png) no-repeat center center;
}

.pagination li.disablepage_n2{	
	width: 75px;
	height: 15px;
	padding: 5px;
	color: #929292;background:url(../images/next_page2.png) no-repeat center center;
}

.pagination li.nextpage {
	font-weight: bold;
	padding: 5px;
}

.divbookcover {
	width: 300px;
	height: 300px;
	border: 3px solid #F3F2DE;
	background-color: #FFFFFF;
	margin: 8px;
	overflow: hidden;
	position: relative;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.divbookcover img {
	position: static;
	position: relative;	
	padding-left: 20px;
	padding-right: 20px;
}



















